<div class="container-fluid w-100">
    <div class="row justify-content-center min-vh-100">
        <div class="col-8 p-0">
            <div class="d-flex flex-column h-100">
                <div class="row justify-content-center bg-purple">
                    <div class="">
                        <div style="height:auto">                    
                            <img class="img-fluid" src="../../assets/Tiamat-compressed.jpg" alt="An image of a Dragon monster from the game Dungeons and Dragons.">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center bg-blue flex-grow-1 text-center">
                    <p class="pt-5 font-lg">A website to predict the challenge rating of a monster in 5th edition Dungeons and Dragons.</p>
                    <button class="btn w-auto" id="skipButton" (click)="skipReg()">Skip Account Registration</button>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column h-100">
                <div class="row justify-content-center bg-purple">
                    <div class="">
                        <div style="height:auto">                    
                            <app-login-page></app-login-page>
                         <hr>
                            <app-register-page></app-register-page>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center bg-blue flex-grow-1">
                </div>
            </div>
        </div>
    </div>
</div>