html, body{
    height: 100%;
}

.bg-purple, .bg-blue{
    color: #E8F086;
    background-color: #0A284B;
}

.font-lg{
    font-size: large;
}

.btn{
    background-color: #B59E54;
    height: 50px;
}
#skipButton{
    background-color: #E8F086;
}

/* #E8F086, #0A284B, #0A284B, #A691AE, #235FA4, #0A284B */