<div class="container-fluid w-75">
    <br>
    <h2>Login</h2>
    <br>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username" required>
            <!-- <span class="text-danger" *ngIf="(loginFormControl.username && loginSubmitted) && loginFormControl.username.errors?.required">Username is required</span> -->
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" required>
            <!-- <span class="text-danger" *ngIf="(loginFormControl.password && loginSubmitted) && loginFormControl.password.errors?.required">Password is required</span> -->
        </div>
        <!-- <span class="text-danger" *ngIf="loginFormControl.password.errors?.notCorrect">Re-check your username and password.</span> -->
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>