<div class="container-fluid w-75">
    <br>
    <form>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <h2>Login Page</h2>
                <label class="form-check-label m-1" for="Username"><b>Username:</b></label>
                <input type="text" class="form-control" id="Username" aria-label="Username">
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <label class="form-check-label m-1" for="Password"><b>Password:</b></label>
                <input type="password" class="form-control" id="Password" aria-label="Password">
            </div>
            <div class="col-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-3"></div>
        </div>
        
        <br>
    </form>
</div>