<app-navbar></app-navbar>
<div class="container-fluid">
    <h2>D&D Project</h2>
    <br>
    <form class="form" [formGroup]="monsterForm" (ngSubmit)="onSubmit()">
        <h5>Key Monster Statistics:</h5>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <label class="form-check-label m-1" for="hitpoints"><b>Hit Points:</b></label>
                <input type="number" class="form-control" id="hitpoints" aria-label="Hit Points" formControlName="hitPoints" required>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <label class="form-check-label m-1" for="ac"><b>Armour Class:</b></label>
                <input type="number" class="form-control" id="ac" aria-label="Armour Class" formControlName="armourClass" required>
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        <hr class="w-75 mx-auto">
        <h5>Attribute Values:</h5>
        <div class="row">
            <div class="col">
                <label class="form-check-label m-1" for="STR"><b>STR:</b></label>
                <input type="number" class="form-control" id="STR" aria-label="Strength" formControlName="strength" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="STR"><b>DEX:</b></label>
                <input type="number" class="form-control" id="DEX" aria-label="Dexterity" formControlName="dexterity" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="STR"><b>CON:</b></label>
                <input type="number" class="form-control" id="CON" aria-label="Constitution" formControlName="constitution" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="STR"><b>INT:</b></label>
                <input type="number" class="form-control" id="INT" aria-label="Intelligence" formControlName="intelligence" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="STR"><b>WIS:</b></label>
                <input type="number" class="form-control" id="WIS" aria-label="Widsom" formControlName="wisdom" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="STR"><b>CON:</b></label>
                <input type="number" class="form-control" id="CHA" aria-label="Charisma" formControlName="charisma" required>
            </div>
        </div>
        <br>
        <hr class="w-75 mx-auto">
        <h5>Movement Speeds:</h5>
        <div class="row">
            <div class="col">
                <label class="form-check-label m-1" for="Base Speed"><b>Base Speed:</b></label>
                <input type="number" class="form-control" id="Base Speed" aria-label="Base Speed" formControlName="baseSpeed" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="Fly Speed"><b>Fly Speed:</b></label>
                <input type="number" class="form-control" id="Fly Speed" aria-label="Fly Speed" formControlName="flySpeed" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="Burrow "><b>Burrow Speed:</b></label>
                <input type="number" class="form-control" id="Burrow Speed" aria-label="Burrow Speed" formControlName="burrowSpeed" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="Climb Speed"><b>Climb Speed:</b></label>
                <input type="number" class="form-control" id="Climb Speed" aria-label="Climb Speed" formControlName="climbSpeed" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="Swim Speed"><b>Swim Speed:</b></label>
                <input type="number" class="form-control" id="Swim Speed" aria-label="Swim Speed" formControlName="swimSpeed" required>
            </div>
        </div>
        <br>
        <hr class="w-75 mx-auto">
        <h5>Monster Abilities:</h5>
        <div class="row">
            <div class="col">
                <label class="form-check-label m-1" for="Passive Abilities"><b>Number of Passive Abilities:</b></label>
                <input type="number" class="form-control" id="Passive Abilities" aria-label="Passive Abilities" formControlName="passiveNumber" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="Number of Actions"><b>Number of Actions:</b></label>
                <input type="number" class="form-control" id="Number of Actions" aria-label="Number of Actions" formControlName="actionNumber" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="Maximum Attack Bonus"><b>Maximum Attack Bonus:</b></label>
                <input type="number" class="form-control" id="Maximum Attack Bonus" aria-label="Maximum Attack Bonus" formControlName="maxAttackBonus" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="Maximum Damage"><b>Maximum Damage:</b></label>
                <input type="number" class="form-control" id="Maximum Damage" aria-label="Maximum Damage" formControlName="maxDamage" required>
            </div>
        </div>
        <br>
        <hr class="w-75 mx-auto">
        <h5>Legendary Monster:</h5>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <label class="form-check-label m-1" for="Legendry Actions"><b>Number of Legendary Actions:</b></label>
                <input type="number" class="form-control" id="Legendry Actions" aria-label="Legendry Actions" formControlName="legendaryActions" required>
            </div>
            <div class="col-3"></div>
        </div>
        <br>
        <hr class="w-75 mx-auto">
        <h5>Resistances and Immunities:</h5>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <label class="form-check-label m-1" for="Resistances"><b>Number of Resistances:</b></label>
                <input type="number" class="form-control" id="Resistances" aria-label="Resistances" formControlName="resistancesNumber" required>
            </div>
            <div class="col">
                <label class="form-check-label m-1" for="Immunities"><b>Number of Immunities:</b></label>
                <input type="number" class="form-control" id="Immunities" aria-label="Immunities" formControlName="immunitiesNumber" required>
            </div>
            <div class="col-2"></div>
        </div>
        <br>
        <hr class="w-75 mx-auto">
        <div class="col d-flex justify-content-center">
            <label class="form-check-label" for="accountSaveButton"><b>Save to account?</b></label>
            <input class="form-check-input" type="checkbox" value="" id="accountSaveButton" formControlName="saveClick">
        </div>
        <br>
        <div class="col-3">
        </div>
        <div class="col d-flex justify-content-center">
            <button class="btn btn-red" type="submit">Submit</button>
        </div>
        <div class="col-3">
        </div>
        <br>
        <br>

    </form>
    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#crPopup">Open Modal</button>
    <div class="modal fade" id="crPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{finalCRPrediction}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>